body {
  color: white;
  background-image: url("../img/stars.jpg");
  background-size: cover;

}
.result {
  display: none;
  padding: 25px;
}
.bruteForce {
  display: none;
  font-size: 20px;
  font-style: italic;
}

.theForce {
  display: none;
  font-size: 20px;
  font-style: italic;
}

.result img {
  width: 400px;
  height: auto;
  padding: 10px;
  float: left;
  padding-bottom: 25px;
}

.result p {
  font-size: 20px;
}

.header {
  text-align: center;
}
